In [1]:
# Importing relevant libraries
import numpy as np 
import pandas as pd
from pydataset import data
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [4]:
#get the data
spine = pd.read_csv('C:/Users/sivam/OneDrive/Projects/Logistic Regression/Spinal_pain/Dataset_spine.csv')
spine.sample(5)

,pelvic_incidence,pelvic_tilt,lumbar_lordosis_angle,sacral_slope,pelvic_radius,degree_spondylolisthesis,pelvic_slope,Direct_tilt,thoracic_slope,cervical_tilt,sacrum_angle,scoliosis_slope,Class
265,48.170746,9.594217,39.710920,38.576530,135.623310,5.360051,0.859960,21.7568,14.4180,12.55075,-24.517621,18.4675,Normal
153,57.286945,15.149350,64.000000,42.137595,116.735387,30.341203,0.431125,22.2530,17.6755,12.20726,-21.986137,23.1484,Abnormal
83,81.104100,24.794168,77.887020,56.309932,151.839857,65.214616,0.972006,10.5715,11.2339,13.29506,-12.139219,11.8487,Abnormal
141,89.504947,48.903653,72.003423,40.601295,134.634291,118.353370,0.039380,19.8712,8.9861,14.77008,6.868423,29.1844,Abnormal
11,31.232387,17.715819,15.500000,13.516568,120.055399,0.499751,0.608343,21.4356,9.2589,14.76412,-21.724559,36.4449,Abnormal

In [5]:
# get dummies
spine['Class'] = spine['Class'].map({'Abnormal':1,'Normal':0})

In [9]:
y = spine['Class']
x = spine.drop(['Class'], axis =1)
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 29)

In [12]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

LogisticRegression()

In [13]:
y_pred = logreg.predict(x_test)

In [15]:
cm = pd.DataFrame(confusion_matrix(y_test, y_pred))
cm.columns = ['Predicted 0', 'Predicted 1']
cm = cm.rename(index = {0:'Actual 0', 1:'Actual 1'})
cm

          Predicted 0  Predicted 1
Actual 0           15            4
Actual 1            7           36

In [17]:
accuracy_score(y_pred, y_test)

0.8225806451612904